CustomerService/Client/Connected Services/CustomerServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CustomerService" />
  <xs:element name="AddCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CustomerService" minOccurs="0" name="customer" nillable="true" type="q1:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CustomerService" minOccurs="0" name="RetrieveCustomerResult" nillable="true" type="q2:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerWithThisId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerWithThisIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CustomerService" minOccurs="0" name="RetrieveAllCustomersResult" nillable="true" type="q3:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>