CustomerService/Client/Connected Services/CustomerServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CustomerService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_AddCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_AddCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_RetrieveCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_RetrieveCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteCustomerWithThisId_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerWithThisId" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteCustomerWithThisId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerWithThisIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_RetrieveAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_RetrieveAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllCustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="AddCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/AddCustomer" message="tns:ICustomerService_AddCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/AddCustomerResponse" message="tns:ICustomerService_AddCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/RetrieveCustomer" message="tns:ICustomerService_RetrieveCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/RetrieveCustomerResponse" message="tns:ICustomerService_RetrieveCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerWithThisId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/DeleteCustomerWithThisId" message="tns:ICustomerService_DeleteCustomerWithThisId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/DeleteCustomerWithThisIdResponse" message="tns:ICustomerService_DeleteCustomerWithThisId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/RetrieveAllCustomers" message="tns:ICustomerService_RetrieveAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/RetrieveAllCustomersResponse" message="tns:ICustomerService_RetrieveAllCustomers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/RetrieveCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerWithThisId">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/DeleteCustomerWithThisId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllCustomers">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/RetrieveAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CustomerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>